################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
desktop.ini
.DS_Store

# DLL Filter
*.dll
!/libs/
!/libs/**/*.dll